/* Общие стили для body */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

/* Универсальная настройка изображений */
img {
    max-width: 100%; /* Устанавливаем максимальное значение ширины изображения равным ширине контейнера */
    height: auto; /* Авто-масштабирование высоты для сохранения пропорций */
    display: block; /* Преобразуем изображение в блоковый элемент для централизации */
    margin: 0 auto; /* Горизонтальное выравнивание изображения */
}

/* Специфичные стили для секции 'about' */
#about img {
    width: 100%; /* Полное заполнение доступной ширины */
    object-fit: contain; /* Масштабируем изображение с сохранением пропорций */
}

/* Центрирование текста в заголовках */
h1, h2, h3 {
    text-align: center;
}

/* Основная секция с описанием */
section {
    padding: 2rem;
    border-bottom: 1px solid #ccc;
}

/* Секция контактов */
.contact-info {
    text-align: center;
    padding-top: 2rem;
}

/* Лого компании */
.logo {
    float: left;
    margin-right: 1em;
}

/* Цвет фона кнопки */
.button-primary {
    background-color: #ffcc00;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

/* Эффект нажатия кнопки */
.button-primary:hover {
    transform: scale(1.1);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

/* Настройки шрифтов */
p {
    font-size: 16px;
    line-height: 1.5;
}

/* Размер контактных номеров телефона */
.phone-number {
    font-weight: bold;
    font-size: 18px;
}

/* Размеры логотипа */
.logo img {
    max-width: 100px;
    height: auto;
}

/* Макет галереи */
.gallery-item {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

/* Ховер эффект на галерею */
.gallery-item::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.gallery-item:hover::before {
    opacity: 1;
}